# Routing
SITE_DOMAIN=example.com
SITE_HOSTNAME=example

# Shared Docker networks
PROXY_NETWORK=proxy
REDIS_NETWORK=redis

# WordPress app
WORDPRESS_ENV=production
WORDPRESS_DEBUG=false
WORDPRESS_TABLE_PREFIX=wp_

# Database
WORDPRESS_DB_HOST=db.example-host.com:3306
WORDPRESS_DB_NAME=example_wp
WORDPRESS_DB_USER=example_wp_user
WORDPRESS_DB_PASSWORD=replace_with_strong_password

# Redis
WORDPRESS_REDIS_HOST=redis
WORDPRESS_REDIS_PORT=6379
WORDPRESS_REDIS_PREFIX=example:

# Security
WORDPRESS_AUTH_KEY=put-a-long-random-string-here
WORDPRESS_SECURE_AUTH_KEY=put-a-long-random-string-here
WORDPRESS_LOGGED_IN_KEY=put-a-long-random-string-here
WORDPRESS_NONCE_KEY=put-a-long-random-string-here
WORDPRESS_AUTH_SALT=put-a-long-random-string-here
WORDPRESS_SECURE_AUTH_SALT=put-a-long-random-string-here
WORDPRESS_LOGGED_IN_SALT=put-a-long-random-string-here
WORDPRESS_NONCE_SALT=put-a-long-random-string-here

# First Install
WORDPRESS_SITE_TITLE=example
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=password
WORDPRESS_ADMIN_EMAIL=admin@example.com

# Email
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USER=postmaster@example.com
SMTP_PASSWORD=replace_with_smtp_password
