# Routing
SITE_DOMAIN =
SITE_HOSTNAME =

# WordPress app
WORDPRESS_ENV =
WORDPRESS_DEBUG =
WORDPRESS_TABLE_PREFIX =

# Database
WORDPRESS_DB_HOST =
WORDPRESS_DB_NAME =
WORDPRESS_DB_USER =
WORDPRESS_DB_PASSWORD =

# Redis
WORDPRESS_REDIS_HOST =
WORDPRESS_REDIS_PORT =
WORDPRESS_REDIS_PREFIX =

# Security
WORDPRESS_AUTH_KEY =
WORDPRESS_SECURE_AUTH_KEY =
WORDPRESS_LOGGED_IN_KEY =
WORDPRESS_NONCE_KEY =
# salts

# Email
SMTP_HOST =
SMTP_PORT =
SMTP_USER =
SMTP_PASSWORD =